<!DOCTYPE HTML PUBLIC>
<html>
      <head>
      <meta charset="utf-8">
      <title>Errors</title>
      </head>
      <body>
      <center>
      <style>
 </style>
          <p><b>Opps!</b></p>
          <p></p>
          <p>Incorrect input</p>
          <p>Check your data</p>
          <p>{{message|tojson}}</p>
          <p><b>Correct input example</b></p>
          <form action='/stocks' method="get">
          <textarea name="textcontent" rows="10" cols="45">
AAPL 2016-06-24 1200
GOOG 2010-03-01 500
AMZN 2008-01-01 150</textarea>
<p><input type="submit" value="Okey"></p>
</form>
          </center>
          </body>
</html>
