<html>
   <head>
      <title>Highcharts Tutorial</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>
   </head>

   <body>
      <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      <script language = "JavaScript">
         $(document).ready(function() {
            var yAxis = {
               title: {
                  text: 'tEST'
               }
            };
            var plotOptions: {
                series: {
                  pointStart: 2010
                }
              };

            var series =  [{
                  data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
               },
               {
                  data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
               },
               {
                  data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
               }
            ];

            var json = {};
            json.title = title;
            json.subtitle = subtitle;
            json.yAxis = yAxis;
            json.plotOptions = plotOptions;
            json.series = series;

            $(document).ready(function() {
            var chart = new Highcharts.Chart(json);
            });

            // $('#container').highcharts(json);
         });
      </script>
   </body>

</html>
