<!DOCTYPE HTML PUBLIC>
<html>
      <head>
      <meta charset="utf-8">
      <title>Input data</title>
      </head>
      <body>
      <center>
      <form action='/stocks' method="post">
          <p><b>Input you portfolio:</b></p>
          <p>
          <textarea name="textcontent" rows="10" cols="45">
AAPL=2016-12-24=1200
GOOG=2015-01-01=500
AMZN=2014-01-01=150</textarea>
          </p>
          <p><input type="submit" value="Send"></p>
      </form>
        </center>
          </body>
</html>
