<html>
   <head>
      <title>You profit</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>
   </head>

   <body>
      <div id="container" style="">Loading....</div>
      <script type=text/javascript>

              var title = {
                        text: 'Calculate profit of stocks'
                };

              var subtitle = {
                      text: 'Name stocks - show closing price of each stock item'
                };

                var xAxis = {
                    categories: {{ result.unstack(level=0).index.to_period().to_native_types().tolist()|tojson }}
                  };


              var yAxis = {
                title: {
                   text: 'USD'
                },
                min: -200,
                softMin: -201,
                tickInterval: 100
                };

              var tooltip = {
                valuePrefix: '$ ',
                valueSuffix: ' USD'
                }

              var legend = {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
                };

              var plotOptions = {
               line: {
                   dataLabels: {
                       enabled: true
                      }
                   }
                }


            var series = []
            var array = {{result.index.levels[0].tolist()|tojson}}
            len = array.length
            console.log(array)
            console.log(len)


            series.push( {
              name: 'AAPL',
              data: {{ result.Close.unstack(level=0)['AAPL'].tolist()|tojson }},
              dashStyle: 'longdash'
             } );

             series.push( {
               name: 'GOOG',
               data: {{ result.Close.unstack(level=0)['GOOG'].tolist()|tojson }},
               dashStyle: 'longdash'
              } );

              series.push({
                  name: 'Total profit',
                  data: {{ result.profit.unstack(level=0).sum(axis=1, skipna=True).tolist()|tojson }},
                });

              series.push({
                 name: 'Total revenue',
                 data: {{ result.revenue.unstack(level=0).sum(axis=1, skipna=True).tolist()|tojson }},

               });

              var json = {};
              json.title = title;
              json.subtitle = subtitle;
              json.xAxis = xAxis;
              json.yAxis = yAxis;
              json.tooltip = tooltip;
              json.legend = legend;
              json.series = series;
              json.plotOptions = plotOptions;

             $('#container').highcharts(json);


             {% for item in result.index.levels[0].tolist() %}
             series.push( {
               name: {{item}},
               data: {{ result.Close.unstack(level=0)[item].tolist()|tojson }},
               dashStyle: 'longdash'
              } );
             {% endfor %}

       </script>
       <p><b>You portfolio:</b></p>
       {% for item in data_form %}
       <p><b>{{item}}</b></p>
       {% endfor %}



  </body>

</html>
